<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.UserDao" >
<!--car查询  -->
	 <select id="queryListCar" resultType="model.Car">
	 select * from t_car
	 </select>
	 <!--新增  -->
	 <insert id="userAdd" parameterType="model.User">
	 insert into ttt_user (uname,buyDate,isAllIn,imgUrl,carid,price) values(#{uname},#{buyDate},#{isAllIn},#{imgUrl},#{carid},#{price})
	 </insert>
	 <!--查询条数 -->
	 <select id="queryCount" resultType="java.lang.Long">
	 select count(*) from ttt_user
	 </select>
	 <!-- 查询分页 -->
	 <select id="queryList" resultType="model.User" parameterType="java.util.Map">
	 select t.id,t.uname,t.buyDate,t.isAllIn,t.imgUrl,t.carid,t.price,c.carType  from ttt_user as t
	 left join t_car c on t.carid=c.id
	 <where>
	 <if test="uname!=null  and uname!=''">
	 and uname like '%${uname}%'
	 </if>
	 <if test="carid!=0"> 
	 		and carid=#{carid}
	 </if>
	 <if test="buyDate!=null">
	 and buyDate =#{buyDate}
	 </if>
	 </where>
	 
	  limit #{pager.start},#{pager.pageSize}
	 </select>
	 <!--删除  -->
	 <delete id="userdelete" parameterType="int">
	 delete from ttt_user where id=#{id}
	 </delete>
</mapper>